body {
  background-color: rgb(108, 1, 230);
}

body {
  background-color: rgba(7, 206, 241, 0.5);
}

/* Centralize a primeira foto */
#imagem {
  text-align: center;
}

#imagem img {
  display: block;
  margin: 0 auto;
}