/* Centralize a primeira foto e defina o fundo como vermelho */
#imagem {
    text-align: center;
    background-color: rgb(116, 2, 223);
  }
  
  #imagem img {
    display: block;
    margin: 0 auto;
  }
  