/* Defina o fundo vermelho para toda a página */
body {
  background-color: rgb(108, 1, 230);
}

/* Centralize a primeira foto */
#imagem {
  text-align: center;
}

#imagem img {
  display: block;
  margin: 0 auto;
}